@import url(./geral.css);

.main {
    display: flex;
}

.main nav {
    width: 18%;
    margin: 24px;
}

.main nav a {
    display: flex;
    padding-top: 22px;
    color: #000000;
    align-items: center;
    font-size: 14px;
}

#home {
    padding: 0;
}

.main nav a img {
    padding-right: 16px;
}

.main main {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

main {
    margin-top: 24px;
}

main div {
    margin: 16px;
}

main div img {
    width: 100%;
}

.sobre {
    display: flex;
}

.sobre a {
    width: 42px;
    height: 42px;
    margin-right: 12px;
}

.sobre img {
    width: 40px;
    border-radius: 50%;
}

.sobre span p {
    font-size: 14px;
}