@import url(./geral.css);

.main {
    display: flex;
}

.main nav {
    margin: 24px;
}

.main nav a {
    display: flex;
    padding-top: 22px;
    color: #000000;
    align-items: center;
}

.main nav a img {
    padding-right: 16px;
}

.main main {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}