@import url(./geral.css);

main {
    width: 100%;
    display: flex;
    padding-top: 20px;
}

.main {
    width: 65%;
    margin: 0 70px;
}

.video {
    height: 500px;
}

.video iframe {
    width: 100%;
    height: 100%;
}

.perfil {
    margin-top: 16px;
}

.perfil h2 {
    font-size: 20px;
    font-weight: 600;
}

.informacoes {
    height: 42px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.informacoes div {
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.informacoes div button {
    width: 42px;
    height: 42px;
    border-style: none;
    border-radius: 50%;
}
.informacoes div button img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.informacoes div p {
    font-size: 14px;
    color: #515151;
}

.informacoes button {
    border: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
}

.inscrever {
    width: 159px;
    height: 100%;
    background-color: #CC0000;
    color: #ffffff;
    justify-content: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
}

.likes, .dislike, .compartilhar, .download {
    background-color: #ffffff;
}

.visualizacoes {
    margin-top: 16px;
}

.visualizacoes p {
    display: inline;
    font-size: 14px;
    font-weight: 500;
}

.descricao {
    margin-top: 16px;
    font-size: 14px;
    font-weight: normal;
}

.sugestoes {
    width: 35%;
}

.sugestoes div {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.sugestoes a {
    width: 170px;
    height: 100px;
}

.sugestoes a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre {
    padding-left: 8px;

}

.sugestoes div p {
    padding-top: 8px;
    font-size: 12px;
    font-weight: normal;
}